@font-face {
    font-family: "Open Sans";
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#board-main {
    /* width: 100% !important; */
    padding: 0;
    background-color: rgb(246, 247, 248);
    height: calc(100vh - 160px);
    overflow-x: auto !important;
}

h2 {
    font-size: 27px !important;
    font-weight: 700 !important;
}

.section-one {
    max-width: 396px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.add-task-btn-desktop {
    display: none;
}

.add-task-btn-desktop {
    fill: currentColor;
    cursor: pointer;
    width: 160px;
    height: 48px;
}

.add-task-btn-desktop rect {
    stroke: currentColor;
    transition: color 0.1s ease-in-out;
}

.add-task-btn-desktop rect:hover {
    color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.category-add-task-btn {
    color: black;
    transition: color 0.1s ease-out;
    cursor: pointer;
}

.category-add-task-btn:hover {
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
}

.category-add-task-btn rect {
    stroke: currentColor;
    transition: color 0.1s ease-out;
}

.category-add-task-btn rect:hover {
    color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.section-one h2 {
    width: 136px;
    height: 56px;
}

.section-one img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.section-two {
    margin-bottom: 12px;
}

.section-two,
.section-four {
    max-width: 396px;
    margin-left: 16px;
    margin-right: 16px;
}

.user-input-section {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgba(168, 168, 168, 1);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
}

.user-input-section::placeholder {
    color: rgba(209, 209, 209, 1);
    font-size: 20px;
    font-weight: 400;
}

.user-input-section:focus-within {
    border: solid 1px var(--identity) !important;
}

input:focus {
    border: none !important;
}

.user-input-field {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    height: 32px;
    border: none;
    flex: 1;
}
.user-input-field:focus {
    border: none !important;
}

.user-input-section button {
    cursor: pointer;
    width: 48px;
    height: 32px;
    border: none;
    display: flex;
    justify-content: end;
    border-left: solid 1px rgba(209, 209, 209, 1);
    background-color: transparent;
}

.search-btn:hover {
    background-color: rgba(205, 205, 205, 0.5);
    border-radius: 25px;
}

.section-three {
    max-width: 396px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

.board-progress-state {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 12px 0;
    overflow: auto !important;
}

.section-three h2 {
    width: 73px;
    height: 32px;
}

.section-three img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.progress-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: dotted 1px rgba(168, 168, 168, 1);
    border-radius: 10px;
    background-color: rgba(231, 231, 231, 1);
    color: rgba(168, 168, 168, 1);
    gap: 16px;
    margin-bottom: 48px;
}

.to-do-content span {
    font-family: "Open Sans" !important;
    font-size: 16px;
    font-weight: 400;
    width: 111px;
    height: 19px;
}

.board-progress-state img {
    cursor: pointer;
}

.in-progress-content,
.await-feedback-content {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-five,
.section-six {
    max-width: 396px;
    margin: 0 16px;
}

.section-five-headline img {
    cursor: pointer;
}

#card-overlay-wrapper {
    display: flex;
    flex-direction: column;
}

.board-prio-headline-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.draggable {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.draggable:active {
    cursor: grabbing;
}

.rotate-on-drag {
    transform: rotate(5deg);
}

/* Media Query */

@media (min-width: 1330px) {
    #board-main {
        overflow-x: auto;
    }
}

@media (min-width: 920px) {
    #board-main {
        height: 100vh;
        overflow: auto;
    }

    .board-header {
        max-width: 1056px;
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 96px;
    }

    .section-one {
        margin-left: 0;
    }

    .add-task-btn-mobile {
        display: none;
    }

    .section-two {
        display: flex;
        gap: 32px;
        max-width: 504px !important;
        height: 48px;
    }

    .user-input-section {
        width: 312px;
        height: 48px;
    }

    .add-task-btn-desktop {
        display: block;
    }

    .board-content {
        max-width: 1056px;
        height: 688px;
        display: flex;
        gap: 26px;
        padding-top: 75px;
        padding-right: 64px;
    }

    .board-progress-state {
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
    }

    .progress-content {
        width: 264px !important;
        height: 48px;
    }

    .progress-content span {
        font-size: 16px;
    }

    .section-six {
        padding-right: 16px;
    }

    .section-three,
    .section-four,
    .section-five,
    .section-six {
        margin: 0;
        width: 252px;
    }
}

.highlight-drag-area {
    border: 2px dashed black;
}
