.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#greeting {
    font-size: 36px;
    font-weight: 400;
    color: var(--accent-text-color);
}

#userName {
    font-size: 47px;
    font-weight: 700;
    color: var(--identity);
}

main {
    animation: fadeOutAnimation;
    animation-delay: 1500ms;
    animation-duration: 400ms;
    animation-timing-function: ease-in;
}
@keyframes fadeOutAnimation
{
   0%
   { 
   opacity: 1;
   }
   100% 
   {
   opacity: 0;
   }
}
