* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: sans-serif;
}

body {
    width: 320px;
    min-width: 320px;
    max-width: 1920px;

    padding: 32px;
}

span {
    color: rgba(41, 171, 226);
}

h1 {
    height: 73px;
}

h2 {
    margin-bottom: 16px;
}

.legal-info-container {
    margin-bottom: 16px;
    margin-top: 16px;
}
