* {
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    background-color: var(--light-background);
}

main>div {
    margin: 8px;
}

main a {
    display: inline-block;
}

.highlight {
    color: rgba(41, 171, 226);
}

h1 {
    height: 73px;
}

h2 {
    margin-bottom: 16px;
}

.legal-info-container {
    margin-bottom: 16px;
    margin-top: 16px;
}
