body {
    background-color: #F6F7F8;
    margin: 0px;
}

h1 {
    font-size: 47px;
    font-weight: 700;
    /* width: 139px; */
    height: 56px;
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    color:  #A8A8A8;

}

.join-logo {
    width: 64px;
    height: 78.03px;
    position: absolute;
    top: 37px;
    left: 38px;
    display: flex;
    gap: 10px;
    opacity: 0px;
}

.head-container {
    display: flex;
    justify-content: center;
}

.head-container button {
    background-color: transparent;
    border: none;
}

.login-main-container {
    width: 396px;
    top: 225.5px;
    left: 16px;
    position: absolute;
    padding: 32px 0px 32px 0px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
}

.border-bottom {
    position: relative;
    padding-bottom: 16px;
}

.border-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 88px;
    border-bottom: 3px solid #01bee8;
    border-radius: 3px;
}

.input-main {
    /* height: 152px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 12px;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 12px;
    gap: 10px;
}

input {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 21px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    height: 48px;
    width: 364px;
}

input:focus {
    outline: transparent;
    border: 1px solid var(--identity);
}

.input-icon {
    position: absolute;
    right: 10px;
    padding-right: 21px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ccc;
    height: 24px;
    width: 24px;
}

.login-options-container {
    width: 180px;
    height: 123px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    opacity: 0px;
}

.login-main-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-button {
    background-color: #2A3647;
    width: 180px;
    height: 51px;
    padding: 4px 0px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    border-radius: 8px;
    width: 180px;
    height: 51px;
}

.guest-login-button {
    background-color: white;
    width: 180px;
    height: 51px;
    padding: 4px 0px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-text-color);
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    border-radius: 8px;
    width: 180px;
    height: 51px;
    border: 1px solid rgba(42, 54, 71, 1)
}

.signup-container {
    width: 292px;
    height: 49px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    top: 778px;
    left: 70px;
    font-size: 20px;
    font-weight: 400;
}

.signup-button {
    width: 104px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.legal-container {
    width: 246px;
    height: 35px;
    top: 869px;
    left: 91px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}