.input-container {
    padding-bottom: 0px;
    padding-top: 0px;
}

.head-container {
    align-items: start;
}

.head-container img:hover {
    background-color: var(--light-background);
    border-radius: 50%;
}

.input-main {
    gap: 24px;
}

.check-privacy-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 24px;
    position: relative;
}

.check-privacy-container img:hover {
    background-color: #e7e7e7;
    border-radius: 50%;
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
    top: 20px;
    left: 12px;
}

input[type="checkbox"] + label {
    display: inline-block;
    background: url("/assets/icons/checkbox-not-checked.svg") no-repeat;
    height: 24px;
    width: 24px;
    background-size: 100%;
    cursor: pointer;
    flex-shrink: 0;
}

input[type="checkbox"]:checked + label {
    background: url("/assets/icons/checkbox-checked.svg") no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
    background-size: 100%;
    flex-shrink: 0;
}

.privacy-link {
    color: var(--identity);

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
    }
}

.check-password-style {
    color: red;
    font-size: 12px;
    font-weight: 400;
    width: calc(100% - 42px);
    padding-left: 21px;
    padding-right: 21px;
}

.pw-match-green {
    display: block ;
    color: green !important ;
}

.pw-match-red {
    display: block ;
    color: red;
}
