@font-face {
    font-family: inter;
    src: url("/assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
    --dark-background: #2a3647;
    --dark-accent: #091931;
    --light-background: #f6f7f8;
    --light--accent: #ffffff;
    --identity: #29ABE2;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --accent-text-color: #2a3647;
    --prime-blue: #00bee8;
    --icon-urgent-red: #ff3d00;
    --icon-medium-yellow: #ffa800;
    --icon-low-green: #7ae229;
    --contact-green: #1FD7C1;
    --contact-orange: #FF7A00;
}

html,
body,
input,
button {
    margin: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
    overflow-x: hidden;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: calc(100vh - 160px);
    overflow-y: auto;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}


.test-profile-picture-background {
    background-color: crimson;
}


