@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
    --dark-background: #2a3647;
    --dark-accent: #091931;
    --light-background: #f6f7f8;
    --light--accent: #ffffff;
    --identity: #007cee;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --accent-text-color: #2a3647;
    --prime-blue: #00bee8;
    --icon-urgent-red: #ff3d00;
    --icon-medium-yellow: #ffa800;
    --icon-low-green: #7ae229;
}

html,
body,
input,
button {
    margin: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
    overflow-x: hidden;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}